.vs
*.sln
DerivedDataCache/
Intermediate/
Saved/
Binaries/

#Content folder
Content/Geometry
Content/HUD/CursorImages
Content/Materials
Content/Meshes
Content/StarterContent
Content/TopDownCPP/Maps
Content/Mannequin